* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* navbar non responsive */

.navbar ul {
    background-color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 5px 10px grey;
}

.navbar li {
    float: right;
    background-color: white;
}

.navbar li a {
    margin: 0px;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    font-size: 19px;

}

.navbar li a:hover {
    border-bottom: 5px solid blue;
    transition: 0.2s;
}

.navbar .active {
    border-bottom: 5px solid blue;
}

#logo {
    width: 30px;
    float: left;
}

/* Deskripsi Page */
.feature {
    height: auto;
    width: auto;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 0px 10px grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.feature img {
    float: center;
    width: 200px;
    height: 200px;

}

.produk {
    width: auto;
    height: auto;
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    border: none;
}


.produk .konten {
    width: 250px;
    height: auto;
    margin: 10px 10px 20px 10px;
    border-radius: 3px;
    border: 5px solid gainsboro;
    float: left;
}


.produk .konten img {
    width: 95.8%;
    height: 150px;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;

}

.produk .konten p {
    font-size: large;
    margin: 5px 5px 5px 5px;
}

.produk .konten h3 {
    margin: 5px 5px 5px 5px;

}

.produk .konten input {
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.col_white_amrc {
    color: #FFF;
}

footer {
    margin-top: 1200px;
    width: auto;
    height: 300px;
    background-color: #263238;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.container1 {
    width: 100%;
    background-color: blue;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    display: inline-block;
    margin: 0;
}

.container1 h1 {
    margin-left: 100px;
    margin-top: 20px;
}

.container1 a {
    color: white;
    background-color: rgb(255, 174, 13);
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    float: right;
    margin-right: 170px;
    font-weight: bold;
    margin-top: -50px;
    border-radius: 20px;
}

.container1 a:hover {
    background-color: #ffce06;
}

.container2 {
    display: block;
    padding-top: 35px;
    height: 60px;
}

#p1 {
    float: left;
    margin-left: 30px;
}

#p2 {
    float: right;
    margin-right: 30px;
}